# dependencies
bower_components
node_modules
.npm
npm-debug.log

# cache
.pulp-cache
output

# lock 
package-lock.json
yarn.lock

# mac
.DS_Store

# docs
generated-docs

# purescript 
/.psc-package/
/.psc*
/.psa*
/.purs*

# editor 
.vscode